---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import "variables";
@import "normalize";
@import "syntax-highlighting";

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: #fafafa;
  font-family: "Open Sans", sans-serif;
}

p {
  margin-top: 0;
}

section {
  padding-top: 1em;
  padding-bottom: 1em;
}

.container {
  padding-left: 2rem;
  padding-right: 2rem;
}
@media (min-width: $breakpoint-md) {
  .container {
    width: $breakpoint-md;
    margin-left: auto;
    margin-right: auto;
  }
}

.highlight {
  font-family: "Source Code Pro", monospace;
  background: #dedede;
  border: solid 1px #999;
  margin-bottom: 1rem;
  overflow-x: auto;

  pre {
    margin: 1rem;
  }
}

.row {
  margin-bottom: 1rem;
}

.row-demo [class*=col-] {
  font-family: "Source Code Pro", monospace;
  border: solid 1px #fe4365;
  background-color: #fc9d9a;
  padding: 0.5rem;
  text-align: center;

  white-space: nowrap;
  overflow: hidden;
}

.row-demo.row-gutter [class*=col-] {
  background: 0;
  border: 0;

  .inner {
    border: solid 1px #fe4365;
    background-color: #fc9d9a;
    padding: 0.5rem;
  }
}

.breakpoints {
  position: fixed;
  bottom: 0.5rem;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  text-align: center;

  z-index: 100;
}

.breakpoint {
  display: none;
  font-weight: bold;
  padding: 0.5rem 1rem;
  text-align: center;

  background-color: #f9cdad;
  border: solid 1px #ab6d40;
}

.show-xs,
.show-sm,
.show-md,
.show-lg {
  display: none;
}

@media (max-width: $breakpoint-sm - 1) {
  .breakpoint-xs {
    display: inline-block;
  }
  .show-xs {
    display: inherit;
  }
}
@media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md - 1) {
  .breakpoint-sm {
    display: inline-block;
  }
  .show-sm {
    display: inherit;
  }
}
@media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg - 1) {
  .breakpoint-md {
    display: inline-block;
  }
  .show-md {
    display: inherit;
  }
}
@media (min-width: $breakpoint-lg) {
  .breakpoint-lg {
    display: inline-block;
  }
  .show-lg {
    display: inherit;
  }
}

.text-center {
  text-align: center;
}

.hero {
  padding-top: 2em;
  padding-bottom: 2em;
  background: #FE4365;
  color: #fff;
}

.hero-title {
  margin-top: 0;
}

.hero-lead {
  font-size: 1.25em;
}

.sidekick-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.25em;
}

.section-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 1em;
}

.subsection-title {
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: 1em;

  code {
    background: #ddd;
    border: solid 1px #999;
    padding: 0.1em 0.2em;
    margin: 0 0.1em;
    font-size: 0.8em;
  }
}
