---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import "syntax-highlighting";

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

.row {
  margin-bottom: 20px;
}

.col-content {
  border: solid 1px #fe4365;
  background-color: #fc9d9a;
  padding: 0.5rem;
  text-align: center;
}
