$grid-gutter-width: 30px;

// ------------------------------------------
// Grid framework extendable classes
// ------------------------------------------

%col {
  position: relative;
  // Prevent columns from collapsing when empty
  min-height: 1px;
  // Inner gutter via padding
  padding-left:  ($grid-gutter-width / 2);
  padding-right: ($grid-gutter-width / 2);
}

%col-float-xs {
  float: left;
}
@media (min-width: $breakpoint-sm) {
  %col-float-sm {
    float: left;
  }
}
@media (min-width: $breakpoint-md) {
  %col-float-md {
    float: left;
  }
}
@media (min-width: $breakpoint-lg) {
  %col-float-lg {
    float: left;
  }
}


// ------------------------------------------
// Grid framework mixins
// ------------------------------------------

@mixin make-generic-columns($nb-columns-list, $breakpoints) {
  @each $nb-columns in $nb-columns-list {
    @each $bp in $breakpoints {
      $list: ".col-#{$bp}-1-#{$nb-columns}";
      @for $i from 2 through $nb-columns {
        $list: "#{$list}, .col-#{$bp}-#{$i}-#{$nb-columns}"
      }
      #{$list} {
        @extend %col;
      }
    }
  }
}

@mixin float-grid-columns($nb-columns, $bp) {
  $list: ".col-#{$bp}-1-#{$nb-columns}";
  @for $i from 2 through $nb-columns {
    $list: "#{$list}, .col-#{$bp}-#{$i}-#{$nb-columns}";
  }
  #{$list} {
    @extend %col-float-#{$bp};
  }
}

@mixin calc-grid-column($index, $nb-columns, $bp, $type) {
  @if ($type == 'width') and ($index > 0) {
    .col-#{$bp}-#{$index}-#{$nb-columns} {
      width: percentage(($index / $nb-columns));
    }
  }
  @if ($type == 'push') and ($index > 0) {
    .col-push-#{$bp}-#{$index}-#{$nb-columns} {
      left: percentage(($index / $nb-columns));
    }
  }
  @if ($type == 'push') and ($index == 0) {
    .col-push-#{$bp}-0 {
      left: auto;
    }
  }
  @if ($type == 'pull') and ($index > 0) {
    .col-pull-#{$bp}-#{$index}-#{$nb-columns} {
      right: percentage(($index / $nb-columns));
    }
  }
  @if ($type == 'pull') and ($index == 0) {
    .col-pull-#{$bp}-0 {
      right: auto;
    }
  }
  @if ($type == 'offset') {
    .col-offset-#{$bp}-#{$index}-#{$nb-columns} {
      margin-left: percentage(($index / $nb-columns));
    }
  }
}

@mixin loop-grid-columns($nb-columns, $bp, $type) {
  @for $i from 0 through $nb-columns {
    @include calc-grid-column($i, $nb-columns, $bp, $type);
  }
}

// Create grid for specific class
@mixin make-grid($nb-columns-list, $bp) {
  @include make-generic-columns($nb-columns-list, $bp);

  @each $nb-columns in $nb-columns-list {
    @include float-grid-columns($nb-columns, $bp);
    @include loop-grid-columns($nb-columns, $bp, 'width');
    // @include loop-grid-columns($nb-columns, 'pull');
    // @include loop-grid-columns($nb-columns, 'push');
    // @include loop-grid-columns($nb-columns, 'offset');
  }
}

// Creates a wrapper for a series of columns
@mixin make-row($gutter: $grid-gutter-width) {
  margin-left:  ($gutter / -2);
  margin-right: ($gutter / -2);

  // micro clearfix by Nicolas Gallagher
  // http://nicolasgallagher.com/micro-clearfix-hack/
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
